
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>


        @{
            <h2> the page has been modified at </h2>
                <span>
                @DateTime.Now.Month<br />@DateTime.Now.Minute<br />@DateTime.Now.Year


    </span>
        }
    </div>
</body>
</html>
